@model StudentCreateViewModel
@inject IStudentRepository _studentRepository
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>



<form asp-action="Create" method="post" enctype="multipart/form-data">

    <div asp-validation-summary=All></div>

    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <select asp-for="ClassName" asp-items="Html.GetEnumSelectList<ClassNameEnum>()">
            <option value="">请选择</option>
        </select>
        <span asp-validation-for="ClassName"></span>
    </div>

    <div class="mt-3">
        <label class="custom-file-label" asp-for="Photo"></label>
        <input class="form-control custom-file-input" asp-for="Photo" />
        <span asp-validation-for="Photo"></span>
    </div>

    <div>
        <button>submit</button>
    </div>

    <div>
        count:@_studentRepository.GetAllStudents().Count().ToString()
    </div>

</form>

